.grid-player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
.grid-players {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5em;
}
@media only screen and (max-width: 768px) {
  .grid-players {
    grid-template-columns: repeat(1, 1fr);
  }
}
