header.app-header {
    //  background: -webkit-linear-gradient(0deg, #1edcfb, #e50212, #c0069c);

    .grid-header {
        display: grid;
        grid-template-columns: 61px 0.7fr 1fr;

    }

    .list-header {
        li {
            justify-content: flex-end;
        }

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.8rem;

        a {
            &:hover {
                color: #fff;
                text-decoration: none;
                transition: color 0.2s;
            }

            cursor: pointer;
            color: #abadc7;
        }

        .icon-align {
            display: grid;
            grid-template-columns: 0.2fr 1fr;
            grid-gap: 0.4rem;
            align-items: center;
        }
    }
}

p,
.app-header li {
    &.h7 {
        font-size: 1rem;
    }
}

.MuiPaper-root {
    &.container-bg {
        background-color: transparent;
        box-shadow: none;
        text-align: right;

    }
}

.input-search-type {

    .MuiFormLabel-root,
    .MuiSelect-selectMenu {
        &.Mui-focused {
            color: #abadc7;
        }

        color: #abadc7;
    }

    .MuiFilledInput-underline {
        &:before {
            border-color: #abadc7;
        }
    }

    .MuiSelect-icon {
        color: #abadc7;
    }
}