body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}

body .hidden {
    display: none;
}

.match-grid-container {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5em;
}

.app-container {
    &.MuiPaper-elevation2 {
        margin: 72px 0 0;
        padding: 20px 52px;
        border-radius: 0;
        box-shadow: none;
    }
}

#loader {
    text-align: center;
}


p.label-match-begins {
    font-size: 14px;
    font-weight: 500;
    // color: #616161;
}