body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}

body .hidden {
    display: none;
}

.match-grid-container {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5em;
}

main {
    margin: 90px 10px 10px;
}

#loader {
    text-align: center;
}


p.label-match-begins {
    font-size: 14px;
    font-weight: 500;
    color: #616161;
}