fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #abadc7;
}
div.MuiFormControl-marginNormal {
  margin: 0;
  width: 100%;
}
div.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
div.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}
label.MuiInputLabel-outlined {
  color: #abadc7;
}
label.MuiInputLabel-outlined.Mui-focused {
  color: #fff;
}
input.MuiOutlinedInput-input {
  color: #abadc7;
}
.no-suggestions {
  color: #999;
  padding: 0.5rem;
}
.suggestion-active {
  background-color: #3f51b5;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(201px + 1rem);
  position: absolute;
  background-color: #fff;
}
.suggestions li {
  text-align: left;
  padding: 0.5rem;
}
.suggestions li:hover {
  background-color: #3f51b5;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
